@font-face {
    font-family: "Starjedi";
    src        : url('Fonts/Starjedi.ttf');
}

@font-face {
    font-family: "Starjhol";
    src        : url('Fonts/Starjhol.ttf');
}

html,
body {
    margin           : 0;
    padding          : 0;
    background-image : url(images/main-background.jpg);
    background-repeat: no-repeat;
    font-size        : 14px;
}

.flex {
    display: flex;
}

.flex-column {
    display       : flex;
    flex-direction: column;
}

button {
    box-shadow     : 0px 0px 0px 2px #9fb4f2;
    background     : rgb(20, 89, 130);
    background     : linear-gradient(68deg, rgba(20, 89, 130, 1) 0%, rgba(14, 50, 71, 1) 15%, rgba(10, 36, 51, 1) 32%, rgba(10, 36, 51, 1) 76%, rgba(5, 57, 87, 1) 88%, rgba(20, 89, 130, 1) 100%);
    border-radius  : 10px;
    border         : 1px solid #20acff;
    display        : inline-block;
    cursor         : pointer;
    color          : #CAEAFF;
    padding        : 12px 37px;
    text-decoration: none;
    text-shadow    : 0px 1px 0px #283966;
    margin:0 10px;
}

.audioToggle {
    position: absolute;
    top     : 5%;
    right   : 5%;
}

#mainMusicButton,
#restartGame {
    display: none;
}

.main-section {
    align-items: center;
}

.text-center {
    text-align: center;
}

#welcome-screen {
    width            : 100%;
    height           : 100%;
    align-items      : center;
    background-image : url(images/main-background.jpg);
    background-repeat: no-repeat;
    position         : fixed;
    margin           : 0 auto;
}

#welcome-screen p {
    font-size: 1.4em;
    color    : #CAEAFF;
}

#welcome-screen input {
    min-height   : 25px;
    color        : #CAEAFF;
    background   : rgb(0, 0, 0);
    background   : linear-gradient(0deg, rgba(0, 0, 0, 0.24693627450980393) 0%, rgba(255, 255, 255, 0.053658963585434205) 100%);
    border       : none;
    border-bottom: 2px #20acff solid;
}

.welcome-player {
    align-items: center;
    display    : none;
}

#welcome-players-inputs {
    min-width: 350px;
}

#welcome-player1 {
    position: absolute;
}

#welcome-player2 {
    position: relative;
}

#welcome-speech {
    padding-top: 150px;
    max-width  : 69%;
}

.main-title {
    font-family: "Starjedi", Arial, Helvetica, sans-serif;
    margin     : 50px 0;
    color      : black;
    font-size  : 2em;
    text-shadow: -1px -1px 0 #FEE819, 1px -1px 0 #FEE819, -1px 1px 0 #FEE819, 1px 1px 0 #FEE819;
}

#main-container {
    width          : 100%;
    justify-content: space-around;
    align-items    : center;
}

#gameInterface {
    min-width    : 250px;
    height       : 500px;
    background   : rgb(20, 89, 130);
    background   : linear-gradient(68deg, rgba(20, 89, 130, 1) 0%, rgba(14, 50, 71, 1) 15%, rgba(10, 36, 51, 1) 32%, rgba(10, 36, 51, 1) 76%, rgba(5, 57, 87, 1) 88%, rgba(20, 89, 130, 1) 100%);
    font-family  : Arial, Helvetica, sans-serif;
    color        : #fff;
    border       : #20acff 2px solid;
    border-radius: 25px;
    display      : none;
    padding      : 25px;
}

#combatMode {
    color: red;
}

.playersStatusContainer {
    align-items: center;
}

.playerStatus {
    margin : 15px;
    padding: 10px;
}

.combatStatus {
    display: none;
}

.playerLifeIcon {
    margin-right: 10px;
}

.playerInterfaceSeparator {
    border     : none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height     : 100px;
    width      : 1px;
    margin     : 0 5px;
}

.InterfaceWeaponImg {
    width: 80px;
}

.playerLife {
    display        : flex;
    align-items    : baseline;
    justify-content: center;
}

.playerWeapon {
    text-align: center;
    ;
    margin: 20px 0;
}

.playersWeaponAttack {
    position        : relative;
    background-color: #0D161F;
    padding         : 5px;
    border-radius   : 50%;
    font-size       : 0.8em;
    display         : none;
}

.intro {
    text-align: center;
}

.speech {
    text-align: justify;
}

#gameboard {
    width    : 700px;
    height   : 700px;
    flex-wrap: wrap;
    border   : #20acff 2px solid;

}

#gameboard div {
    box-sizing     : border-box;
    border         : 1px solid #272822;
    width          : 10%;
    height         : 10%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.floor {
    background-image: url(images/floor5.jpg);
    background-size : cover !important;

}

.wall {
    background-image: url(images/wall.jpg);
    background-size : cover;
}

#Player1 img,
#Player2 img {
    width   : 100%;
    overflow: hidden;
}

.Player1Path {
    border: 2px solid rgba(255, 0, 0, 0.8) !important;
}

.Player2Path {
    border: 2px solid rgba(15, 130, 219, 0.8) !important;
}

#Player1,
#Player2 {
    background-size  : 90%;
    background-repeat: no-repeat;
}

.wall,
.weapon {
    background-repeat: no-repeat;
}

.weapon img {
    width: 100%;
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .main-title {
        margin: 20px;
    }

    #gameboard {
        width : 500px;
        height: 500px;
    }
}